<?xml version="1.0"?>
<configuration>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <controls>
                <add tagPrefix="dnd" tagName="BasicInfo" src="~/Controls/Character/BasicInfo.ascx" />
            </controls>
        </pages>
    </system.web>

</configuration>
